{%- if include.list and include.list.size > 0 -%}
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<ul class="list">
    {%- for item in include.list -%}
    <li class="list-item">
        <div class="list-item-wrapper">
            <a class="post-link" href="{{ item.url | relative_url }}">
                <div class="list-item-content">
                    <div class="list-item-desc">
                        <h2 class="item-title">
                            {%- if item.start -%}
                                {{ item.categories[0] | escape}}
                            {%- else -%} 
                                {{ item.title | escape }}   
                            {%- endif -%}    
                        </h2>
                        <p class="item-desc"> {{ item.description | escape }}</p>
                        <div class="item-meta">
                            <span class="meta-author"> {{item.author | default: "Kaleb Münch"}}</span>
                            <span class="meta-date">{{ item.date | date: date_format }}</span>
                        </div>
                    </div>
                    {%- if item.image_name -%}
                    <div class="list-item-img">
                        <img src="assets/img/{{ item.image_name }}"
                            alt="{{ item.image_info }}" width="300" height="300">
                    </div>
                    {%- endif -%}
                </div>
            </a>
        </div>
    </li>
    {%- endfor -%}
</ul>
{%- endif -%}