{%- if site.data.social-media and include.class -%}
<ul class="{{ include.class }}">
    {% assign sm = site.data.social-media %}
    {% for entry in sm %}
        {% assign key = entry | first %}
        {% if sm[key].id %}  
        <li><a href="{{ sm[key].href }}" title="{{ sm[key].title }}"><svg class="svg-icon" viewBox="0 0 17 17"><use xlink:href="{{ sm[key].fa-icon }}"></use></svg>
          {%- if include.class == "social-media-list"-%}
          <span>{{ sm[key].title }}</span>
          {% endif %}
        </a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
