/**
 * Site header
 */
/* #region*/
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  z-index: 100;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .2);

  // Positioning context for the mobile navigation icon
  position: sticky;
  top: 0;
  background-color: $primary-color;
}

.site-title {
  @include relative-font-size(2.5);
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  float: left;
  display: table;

  p {
    font-family: Kanit;
    color: white;
    display: table-cell;
    font-weight: 400;
  }

  p span {
    font-family: Kanit;
    color: $primary-color;
    font-weight: 800;
    /*text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;*/
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $secondary-color;
  }

  &:hover {
    text-decoration: none;
  }

}


.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: white;
    line-height: $base-line-height;
    vertical-align: middle;
    font-size: $base-font-size;
    padding: 10px;
    border-radius: $corner-rad-std;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: $spacing-unit - 5;
    }

    @include add-hover-highlight() {
      text-decoration: none;
      color: $grey-color-dark;

      >svg {
        fill: $grey-color-dark;
      }
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: calc($spacing-unit / 2);


    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      background-color: $primary-color;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      border-radius: $corner-rad-std;

      >svg {
        fill: $grey-color-light;
      }

      @include add-hover-highlight() {
        >svg {
          fill: $grey-color-dark;
        }
      }
    }

    input~.trigger {
      clear: both;
      display: none;
    }

    input:checked {
      ~.trigger {
        top: 12px;
        display: block;
        padding: 10px;
        border-color: $grey-color-dark;
        border-width: 2px;
        border-radius: $corner-rad-std;
        background-color: $grey-color-light;
        z-index: 3;
      }

      ~label[for="nav-trigger"] .menu-icon {
        background-color: $secondary-color;

        >svg {
          fill: $grey-color-dark;
        }
      }
    }

    .page-link {
      display: block;
      color: $grey-color-dark;

      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 0px;
      }
    }
  }



}

/* #endregion*/


/**
 * Site footer
 */
/* #region*/


.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: calc($spacing-unit / 2);
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: - calc($spacing-unit / 2);
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: calc($spacing-unit / 2);
  padding-left: calc($spacing-unit / 2);
}

.footer-col-1 {
  width: -webkit-calc(35% - calc(#{$spacing-unit} / 2));
  width: calc(35% - calc(#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - calc(#{$spacing-unit} / 2));
  width: calc(20% - calc(#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - calc(#{$spacing-unit} / 2));
  width: calc(45% - calc(#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {

  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - calc(#{$spacing-unit} / 2));
    width: calc(50% - calc(#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - calc(#{$spacing-unit} / 2));
    width: calc(100% - calc(#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - calc(#{$spacing-unit} / 2));
    width: calc(100% - calc(#{$spacing-unit} / 2));
  }
}

/* #endregion*/


/**
 * Page content
 */
/* #region*/
.page-content {
  flex: 1;

  @include media-query($on-bgrnd-dissap) {
    background-color: $grey-color-light;
  }
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  >li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/* #endregion*/


/**
 * Posts
 */
/* #region*/
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/* #endregion*/

/** 
 * List
 */
/* #region*/
.list {
  margin: $spacing-unit auto;
  list-style-type: none;
}

.list-item {
  margin: calc($spacing-unit / 2) $spacing-unit;

  .list-item-wrapper {
    padding: 15px;
    background-color: $primary-color;
    transition: transform 0.5s;
    border-radius: $corner-rad-std;

    @include add-hover-highlight() {
      .post-link .list-item-content {
        color: $grey-color-dark;
      }
    }


    .post-link {
      &:visited {}

      .list-item-content {
        color: $grey-color-light;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;


        .list-item-desc {
          width: 80%;
          flex-direction: column;
          display: flex;
          flex-grow: 1;
          /* Make the text div grow to fill available vertical space */
          padding-right: $spacing-unit;

          .item-title {
            margin-top: 0;
            margin-bottom: 5px;

          }

          .item-desc {
            line-height: 97.5%;
            margin-top: 0;
            /* Remove default margin */
            margin-bottom: 15px;
            /* Remove default margin */
            display: -webkit-box;
            -webkit-line-clamp: 3;
            /* Limit the number of lines to 4 */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .item-meta {
            display: flex;
            justify-content: space-between;
            margin-top: auto;
            /* Remove default margin */
            margin-bottom: 0;

            font-size: 0.7em;

            .meta-author {
              margin: 0 $spacing-unit;
            }

            .meta-date {
              margin: 0 $spacing-unit;
            }
          }
        }

        .list-item-img {
          width: 20%;
          height: 100%;
          overflow: hidden;
          margin-top: auto;
          margin-bottom: auto;

          img {
            height: 100%;
            width: auto;
            object-fit: contain;
          }
        }
      }
    }
  }
}

/* #endregion*/

/**
 * Bottom Navigation
 */
/* #region */

.bottom-navigation {
  margin: $spacing-unit auto;
  height: $spacing-unit;


  .prev {
    display: table;
    float: left;
    padding: 5px;
    color: $grey-color-dark;
    border-radius: $corner-rad-std;
    border-color: $grey-color-dark;
    border-style: solid;
    border-width: 1px;

    @include add-hover-highlight();

    .post-link {
      &:visited {}
    }
  }

  .next {
    display: table;
    float: right;
    padding: 5px;
    color: $grey-color-dark;
    border-radius: $corner-rad-std;
    border-color: $grey-color-dark;
    border-style: solid;
    border-width: 1px;

    @include add-hover-highlight();

    .post-link {
      &:visited {}
    }
  }
}


/* #endregion */

/**
 * Page description
 */

/* #region */
.page-description {
  .content-heading {
    letter-spacing: -1x;
    line-height: 1;
  }
}

/* #endregion*/

/**
 * Home 
 */

/* #region*/
.container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  .profile-col {
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
    padding: 0 0px;


    .profile {
      padding: $spacing-unit 15px;
      text-align: center;
      position: relative;

      .profile-picture {
        border-radius: 50%;
      }

      img {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        max-width: 270px;
        max-height: 270px;
        object-fit: contain;
      }

      h2 {
        font-size: 2em;
        margin: 20px 0 10px;
      }

      h3 {

        margin: 0 0 10px;
      }

      .network-icon {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          border-radius: 50%;
          width: 46px;
          padding: 5px;
          margin: 5px;

          svg {
            font-size: 2rem;
            width: 40px;
            height: 40px;
          }

          @include add-hover-highlight();
        }
      }
    }


  }

  .content-col {
    flex: 0 0 calc((100% / 3) * 2);
    max-width: calc((100% / 3) * 2);
    padding: 0 0px;
  }

  @include media-query($on-laptop) {
    .col {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .table {
    display: flex;
    flex-direction: wrap;
    
    & > div {
      flex: 50%;
    }

    .table-wrapper {
      padding: 0 15px;

      h2 {
        font-weight: 500;
      }
      li {
        font-size: 1.4em;
      }
    }
  }

}

.exhibit-wrapper {
  margin: $spacing-unit 0 ;
}

/* #endregion*/

/**
 * Content
 */

/* #region */

.content {
  padding: 0 15px;
  p {
    font-size: 1.65em;
    line-height: 110%;
  }

  a {
    margin-left: 5px;
    margin-right: 5px;
  }
}

/* #endregion*/