---
layout: default
---

<div class="home">
  {%- include page_description.html -%}
  <div class="home-container">
    <div class="col profile-col">
      <div class="profile">
        <img class="picture profile-picture" src="assets/img/profile_picture.jpg" alt="Kaleb Münch" width="300"
          height="300">
        <div class="profile-title">
          <h2>Kaleb Münch</h2>
          <h3>Bachleors Student of Computer Science</h3>
        </div>
        {%- include social.html class = "network-icon"-%}
      </div>
    </div>
    <div class="col content-col">
      <div class="content">
        {{ content }}
      </div>
    </div>
  </div>
  <div class="exhibit-wrapper">
    <h2>Some Blog Posts</h2>
    {%- include list.html list = site.posts -%}
    <h2>Some Projects</h2>
    {%- assign list = site.projects | where: "start", true -%}
    {%- include list.html list = list -%}
  </div>
</div>