---
layout: default

---

<div class="project-container">
    <h1>{{ page.categories[0] }}</h1>
    <h2>{{ page.title }}</h2>
    <div class="project-navigation">
        <div class="list-navigation">
            <ul class="nav-list">
                {%- assign list = site.projects | where_exp: "item", "item.categories[0] == page.categories[0]" -%}
                {%- for item in list -%}
                <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
                {%- endfor-%}
            </ul>
        </div>
        <div class="bottom-navigation">
            {% if page.previous.url and page.previous.categories[0] == page.categories[0] %}
            <a class="prev" href="{{ site.baseurl }}{{ page.previous.url }}">&laquo; {{page.previous.title}}</a>
            {% endif %}
            {% if page.next.url and page.next.categories[0] == page.categories[0]  %}
            <a class="next" href="{{ site.baseurl }}{{ page.next.url }}">{{page.next.title}} &raquo;</a>
            {% endif %}
        </div>
    </div>
    <div class="content">
        {{ content }}
    </div>
</div>